.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}
.react-pdf__Page__textContent{
  display: none;
}
.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 2rem;
  }
  
  .image-list img {
    width: 250px;
    height: 350px;
  }
  .center {
    margin: 40px;
  }
  
  .address {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    text-align: center;
  }
  
  input[type="text"]:focus {
    background-color: lightblue;
  }